

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Duration Chart</h5>
          <div id="durationChart"></div>
        </div>
      </div>
    </div>
  </div>
</div>
    
  
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Calories Chart</h5>
              <div id="caloriesChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <!-- Weight Chart -->
   
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center">Weight Chart</h5>
              <div id="weightChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>