<div class="banner bg-dark text-light text-center py-5 position-relative" style="background-image: url('../../../../assets/images/banner.jpg'); background-attachment: scroll; background-attachment: fixed; background-size: cover;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 offset-md-6 text-light content-data">
        <h1 class="mb-4">REACH YOUR BEST</h1>
        <p class="lead mb-2">Whether you’re training for a marathon or your biggest season yet, we’re here to help you make serious progress.</p>
       <div class="form"> <app-bmicalculator></app-bmicalculator>
      </div>   </div>
    </div>
    
    <div class="row justify-content-end">
      <div class="col-md-6">
       
      </div>
    </div>
  </div>
</div>