.transparent-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 174px;
    margin-top: 50px;
}


  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
  }

.submit-button {
    font-size: 1.25rem;
    /* font-family: "Neue Plak UA Text", Helvetica, Arial, -apple-system, sans-serif; */
    font-weight: 1200; 
    text-decoration: none;
    color: black;
    letter-spacing: 6px;
    display: inline-block;
    width: auto;
    padding: 0.375rem 0.75rem;
    background-color: white;
    border: 1px solid transparent;
    border-color: #007bff;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.heading-text {
    letter-spacing: 6px;
    font-size: 1.25rem;
    /* font-family: "Neue Plak UA Text", Helvetica, Arial, -apple-system, sans-serif; */
    font-weight: 800; 
    color: black;
}

.goalheading{
    text-align: left;
}
.input-area {
    letter-spacing: 3px;
    font-size: 1rem;
    /* font-family: "Neue Plak UA Text", Helvetica, Arial, -apple-system, sans-serif; */
    font-weight: 500; 
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
